/* body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
} */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0px 166px;
}

/* настраиваем задний фон картинки */
.header {
    background-image: url(hero_image.png);
    width: 1440px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* убираем линию для ссылок */
.header-line a {
    text-decoration: none;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    margin-right: 268px;
    width: 100px;
    height: 67.96px;
}

.nav-item {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #FF7400;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    height: 51px;
    padding-right: 10px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 21px;
}

.num {
    font-weight: 700;
    font-size: 18px;
    line-height: 24.51px;
    margin-left: 8px;
    color: #fff;

    transition: color 0.3s linear;
}

.num:hover {
    color: #FF7400;
}

.phone-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    text-transform: uppercase;
    padding: 14px;
    padding-left: 18px;
    padding-right: 19px;
    
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}

.header-down {
    position: relative;
}

.header-title {
    position: absolute;
    left: 0;
    color: #D67E35;
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5px;
    text-align: center;
    margin-top: 222px;
    margin-bottom: 30px;
}

.header-subtitle {
    font-size: 80px;
    line-height: 91.99px;
}

.header-suptitle {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

/* делаем белые линии */
.header-suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 160px;
    left: 77px;
}

.header-suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 160px;
    left: 343px;
}

.header-button {
    color: #fff;
    background-color: #FF7400;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    padding: 14px 28px;

    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #894b17;
}
/* класс сделан чтобы элементы были 
в одну строку с отступом */
.cards-holder {
    display: flex;
    justify-content: center;
}
/* бокс-тень дает карточкам тень */
.card {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 29.9px;
    padding: 15px 11px;
}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #2C2C2C #BC9060;
}

/* делаем слова отдельным цветом */
.card-title span {
    color: #BC9060;
    padding-left: 10px;
}

.card-desc {
    text-align: center;
    color: #656363;
}

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history-title {
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62.09px;
    color: #000000;
    width: 444px;
    text-align: center;
    margin-bottom: 21px;
}

.history-title span {
    color: #D67E34;
}

.history-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #656363;
    width: 444px;
    text-align: center;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 39px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 54.47px;
    color: #BC9060;
}

.number-item span {
    display: block;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
}
 /* картинки в одной линии а не снизу */
.history-holder {
    display: flex;
    justify-content: space-between;
}

/* родитель чтобы двигать картинки */
.histoty-images {
    position: relative;
}
/*расположение картинок */
.img-1 {
    position: absolute;
    z-index: 999;
    width: 250px;
    height: 250px;
    top: 30px;
    left: -550px;
    box-shadow: 10px 10px 40px 20px #0000001A;
}
.img-2 {
    position: absolute;
    z-index: 500;
    top: -80px;
    left: -350px;
}
.img-4 {
    position: absolute;
    z-index: 999;
    top: 80px;
    left: -160px;
}
.img-3 {
    position: absolute;
    z-index: 0;
    top: -20px;
    left: -220px;
}

.black-block {
    background-image: url(backg.jpg);
    padding: 80px 0;
}

.left-title {
    color: #D67E34;
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 59.79px;
    margin-bottom: 20px;
}

.left-text {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
}

.right-btn {
    background-color: #FF7400;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    padding: 14px 19px;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.right-btn:hover {
    background-color: #894b17;
}

/* создала новый див для контента 
чтобы разделить текст по сторонам лево и право */
.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-title {
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62.09px;
    color: #000;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}

.dishes-title span {
    color: #D67E34;
}

/* картинки бургеров справа и по центру страницы блок*/
.burgers {
    display: flex;
    justify-content: center;
}
/* текст справа и по центру картинок и отступ снизу*/
.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
/* отступы между картинок */
.burgers-img {
    margin-right: 20px;
}

.burger-text {
    color: #000;
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 29.9px;
    margin-left: 20px; 
}

/* чтобы изображение не повторялось 
и растянулось по экрану */
.menu {
    background-image: url(menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    margin-top: 150px;
}

.menu-title {
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62.09px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 138px;
    text-align: center;
}

/* рамки карточки */
.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;

    margin-right: 30px;
}

.menu-item1 {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-bottom: 30px;

    margin-right: 30px;
}

.menu-text {
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 29.9px;
    color: #000;
    padding-bottom: 17px;
    padding-top: 22px;
}

.menu-suptext {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #000;
}

.menu-btn {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    background-color: #D67E34;
    padding: 14px 67px;
    text-decoration: none;
    box-shadow: 5px 5px 10px 0px #00000040;


    transition: background-color 0.2s linear;
}

.menu-btn:hover {
    background-color: #894b17;
}

/* отступ для кнопки. 
после чего в menu добавляем pad btm 
чтобы убрать белую полосу.
чтобы выровнять белый блок до уровня кнопки 
в menu-item pad btm */
.menu-button {
    margin-top: 20px;
}

/* расположение кружок цены */
.price-image {
    position: absolute;
    bottom: 0;
    right: 32px;
}
/* чтобы кружок был только в этом классе */
.menu-image {
    position: relative;
}
/* расположение цены */
.price-420 {
    position: absolute;
    bottom: 32px;
    right: 63px;
    color: #fff;
    font-family: 'Cookie', cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 33.27px;
}

/* чтобы блоки были в строку 
убрать примыкание в menu-item через margin-right*/
.menu-items {
    display: flex;
    justify-content: center;
}

.item-suptitle {
    width: 124px;
    height: 36px;
    justify-content: top;
    align-items: flex-start;
    margin-bottom: 44px;
}

.item-sup {
    font-weight: 400;
    font-size: 13px;
    line-height: 17.7px;
    color: #000;
    background-color: #D67E34;
    padding: 7px 11px 11px 12px;
}

.comment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.comment-text {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 27.24px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
/* фото круглое */
.comment-img {
    border-radius: 50px;
}
/* фото по центру */
.comment-image {
    text-align: center;
}

.comment-type {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    text-align: center;
    margin-top: 16px;
}

.comment-name {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    text-align: center;
    margin-top: 9px;
}

.galery-title {
    color: #000;
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62.09px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.galery-title span {
    color: #D67E34;
}

/* картинки слева и справа */
.galery-content {
    display: flex;
    justify-content: center;
}
/* раздвигаю картинки */
.galery-left {
    margin-right: 30px;
}

.galery-down, .galery-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chef {
    margin-bottom: 100px;
}

.chef-title {
    color: #000;
    font-family: 'Tinos' , sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62.09px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 107px;
}

.chef-title span {
    color: #D67E34;
}

.chef-content {
    display: flex;
    justify-content: center;
}

.chef1, .chef2 {
    margin-right: 30px;
}

.footer {
    background-color: #000;
    padding: 20px 20px;
    color: #fff;
    text-align: right;
}